numpy==1.22.0

Pillow

scikit-learn
pandas
scipy
SoundFile
librosa
matplotlib

tensorboard

torch
torchaudio
torchvision

pystoi
pesq
#https://github.com/vBaiCai/python-pesq/archive/master.zip
#pypesq